CATALOG_SERVICE_URL=http://localhost:8002
CATALOG_DB_HOST=localhost
CATALOG_DB_PORT=5432
CATALOG_DB_USER=catalog_user
CATALOG_DB_PASS=catalog_pass
CATALOG_DB_NAME=catalog_db

JWT_SECRET=sheba123444kkkkkkyyyyeee
JWT_ALGORITHM=HS256